# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## Panda
dist/styled-system
styled-system-studio
*storybook.log
dist/storybook-static
/public/data
src/data/DB.js

## Playwright
config/playwright/test-results/
config/playwright/playwright-report/
config/playwright/.cache/

## Test coverage
dist/coverage/
/src/public/data
/src/config/playwright/playwright-report
src/config/playwright/playwright-report/index.html
/src/config/playwright/test-results
/src/public/data
.claude/settings.local.json
