#root {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

/* Keyboard shift key active state */
.hg-shift-active {
	background-color: lemonchiffon !important;
}

/* Loading spinner animation */
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
