@font-face {
	font-family: 'Joscelyn';
	src:
		url('/fonts/Joscelyn/Joscelyn.woff2') format('woff2'),
		url('/fonts/Joscelyn/Joscelyn.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
