@layer reset, base, tokens, recipes, utilities;
@import './fonts.css';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.simple-keyboard {
	background: transparent !important;
}

.joscelyn {
	font-family: 'Joscelyn';
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted red;
	display: inline-block;
}
p, ul {
	margin: 1rem 0;
}