@layer reset, base, tokens, recipes, utilities;
@import './fonts.css';
@import './keyboard.css';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted var(--colors-link);
	display: inline-block;
}
